<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="3.0"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Internet Servlet OCEJWCD</description>
    <display-name>ocejwcd</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--SERVLET-->
    <servlet>
        <servlet-name>CP3MyServletQ15</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap3.preguntas.CP3MyServletQ15</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextAttribute</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ContextAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextAttributeRemove</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ContextAttributeRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextInformation</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ContextInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaticResource</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.StaticResource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenExternaJEE6</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ImagenExternaJEE6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MimeType</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.MimeType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDipatcherContext</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.RequestDipatcherContext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContenidoRequestDispatcher</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ContenidoRequestDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDipartcherNamed</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.RequestDipartcherNamed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestDispatcherExterno</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.RequestDispatcherExterno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PametroInicioContexto</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.PametroInicioContexto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfiguracionServlet</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ConfiguracionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroInicioServlet</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.ParametroInicioServlet</servlet-class>
        <init-param>
            <param-name>SER_MIME_TYPE</param-name>
            <param-value>image/jpg</param-value>
        </init-param>
        <init-param>
            <param-name>SER_COMPRESION</param-name>
            <param-value>ZIP</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CP4MyServletQ9</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.preguntas.CP4MyServletQ9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CP4MyServletQ10</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.preguntas.CP4MyServletQ10</servlet-class>
        <init-param>
            <param-name>SER_VAR</param-name>
            <param-value>1000</param-value>
        </init-param>
        <init-param>
            <param-name>SER_EXT</param-name>
            <param-value>PNG</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CP4MyServletQ15</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.preguntas.CP4MyServletQ15</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CP4MyServletQ16</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap4.preguntas.CP4MyServletQ16</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpRequestDispatcherAttribute</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpRequestDispatcherAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletRequestAttribute</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletRequestAttribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletParametro</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletParametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletRequestBody</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletRequestBody</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletRequestBodyReader</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletRequestBodyReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImplGenericServletRequestDispatcher</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImplGenericServletRequestDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpHttpServletRequestHeader</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpHttpServletRequestHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpHttpServletCookie</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpHttpServletCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImplGenericServletRequestDispatcherCookie</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImplGenericServletRequestDispatcherCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpHttpServletSessionManagment</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpHttpServletSessionManagment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletResponse</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletResponseWriter</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletResponseWriter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpGenericServletResponseProtocol</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImpGenericServletResponseProtocol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImplHttpServletResponseHeader</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImplHttpServletResponseHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImplHttpServletResponseRedirect</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImplHttpServletResponseRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImplHttpServletResponseURLRewrite</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImplHttpServletResponseURLRewrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImplHttpServletResponseCookie</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.ImplHttpServletResponseCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAP5MyServletQ5</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.preguntas.CAP5MyServletQ5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAP5MyServletQ6</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.preguntas.CAP5MyServletQ6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAP5MyServletQ11</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.preguntas.CAP5MyServletQ11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAP5MyServletQ14</servlet-name>
        <servlet-class>ec.ocejwcd.app.examen.cap5.preguntas.CAP5MyServletQ14</servlet-class>
    </servlet>
    <!--SERVLET MAPPING-->
    <servlet-mapping>
        <servlet-name>CP3MyServletQ15</servlet-name>
        <url-pattern>/CP3MyServletQ15/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextAttribute</servlet-name>
        <url-pattern>/ContextAttribute/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextAttributeRemove</servlet-name>
        <url-pattern>/ContextAttributeRemove/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextInformation</servlet-name>
        <url-pattern>/ContextInformation/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaticResource</servlet-name>
        <url-pattern>/StaticResource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenExternaJEE6</servlet-name>
        <url-pattern>/ImagenExternaJEE6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MimeType</servlet-name>
        <url-pattern>/MimeType/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDipatcherContext</servlet-name>
        <url-pattern>/RequestDipatcherContext/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContenidoRequestDispatcher</servlet-name>
        <url-pattern>/ContenidoRequestDispatcher/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDipartcherNamed</servlet-name>
        <url-pattern>/RequestDipartcherNamed/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestDispatcherExterno</servlet-name>
        <url-pattern>/RequestDispatcherExterno/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PametroInicioContexto</servlet-name>
        <url-pattern>/PametroInicioContexto/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfiguracionServlet</servlet-name>
        <url-pattern>/ConfiguracionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroInicioServlet</servlet-name>
        <url-pattern>/ParametroInicioServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CP4MyServletQ9</servlet-name>
        <url-pattern>/CP4MyServletQ9/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CP4MyServletQ10</servlet-name>
        <url-pattern>/CP4MyServletQ10/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CP4MyServletQ15</servlet-name>
        <url-pattern>/CP4MyServletQ15/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CP4MyServletQ16</servlet-name>
        <url-pattern>/CP4MyServletQ16/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpRequestDispatcherAttribute</servlet-name>
        <url-pattern>/ImpRequestDispatcherAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletRequestAttribute</servlet-name>
        <url-pattern>/ImpGenericServletRequestAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletParametro</servlet-name>
        <url-pattern>/ImpGenericServletParametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletRequestBody</servlet-name>
        <url-pattern>/ImpGenericServletRequestBody</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletRequestBodyReader</servlet-name>
        <url-pattern>/ImpGenericServletRequestBodyReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImplGenericServletRequestDispatcher</servlet-name>
        <url-pattern>/ImplGenericServletRequestDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpHttpServletRequestHeader</servlet-name>
        <url-pattern>/ImpHttpServletRequestHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpHttpServletCookie</servlet-name>
        <url-pattern>/ImpHttpServletCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImplGenericServletRequestDispatcherCookie</servlet-name>
        <url-pattern>/ImplGenericServletRequestDispatcherCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpHttpServletSessionManagment</servlet-name>
        <url-pattern>/ImpHttpServletSessionManagment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletResponse</servlet-name>
        <url-pattern>/ImpGenericServletResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletResponseWriter</servlet-name>
        <url-pattern>/ImpGenericServletResponseWriter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpGenericServletResponseProtocol</servlet-name>
        <url-pattern>/ImpGenericServletResponseProtocol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImplHttpServletResponseHeader</servlet-name>
        <url-pattern>/ImplHttpServletResponseHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImplHttpServletResponseRedirect</servlet-name>
        <url-pattern>/ImplHttpServletResponseRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImplHttpServletResponseURLRewrite</servlet-name>
        <url-pattern>/ImplHttpServletResponseURLRewrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImplHttpServletResponseCookie</servlet-name>
        <url-pattern>/ImplHttpServletResponseCookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAP5MyServletQ5</servlet-name>
        <url-pattern>/CAP5MyServletQ5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAP5MyServletQ6</servlet-name>
        <url-pattern>/CAP5MyServletQ6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAP5MyServletQ11</servlet-name>
        <url-pattern>/CAP5MyServletQ11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAP5MyServletQ14</servlet-name>
        <url-pattern>/CAP5MyServletQ14</url-pattern>
    </servlet-mapping>
    <!--PARAMETROS CONTEXTO -->
    <context-param>
        <param-name>CTX_PARAM_NOMBRE_SERVIDOR</param-name>
        <param-value>SERVIDOR_CENTRAL</param-value>
    </context-param>
    <context-param>
        <param-name>CTX_PARAM_AMBIENTE</param-name>
        <param-value>PRODUCCION</param-value>
    </context-param>
    <context-param>
        <param-name>apptitle</param-name>
        <param-value>My Ecommerce Website</param-value>
    </context-param>
    <context-param>
        <param-name>language</param-name>
        <param-value>en</param-value>
    </context-param>
    <!--LISTENERS-->
    <listener>
        <display-name>ServletContextListenerImp</display-name>
        <listener-class>ec.ocejwcd.app.examen.cap4.ServletContextListenerImp</listener-class>
    </listener>
    <listener>
        <display-name>ServletContextAttributeListenerImp</display-name>
        <listener-class>ec.ocejwcd.app.examen.cap4.ServletContextAttributeListenerImp</listener-class>
    </listener>
    <listener>
        <display-name>ImplServletRequestListener</display-name>
        <listener-class>ec.ocejwcd.app.examen.cap5.ImplServletRequestListener</listener-class>
    </listener>
    <listener>
        <display-name>ImplServletRequestAttributeListener</display-name>
        <listener-class>ec.ocejwcd.app.examen.cap5.ImplServletRequestAttributeListener</listener-class>
    </listener>
    <!--ERROR FILES-->
    <error-page>
        <error-code>404</error-code>
        <location>/error/erro404.jsp</location>
    </error-page>
    <error-page>
        <error-code>307</error-code>
        <location>/error/erro307.jsp</location>
    </error-page>
</web-app>